* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos que se aplican al body del documento HTML */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Clase que se aplica al body y los otros elementos de la aplicación solo si la hora es mayor a las 6 am y menor que las 6 pm */
.fondo-dia{
  background: linear-gradient(90deg, rgba(200,220,255,1) 0%, rgba(107,175,199,1) 50%, rgba(200,220,255,1) 99%);
}

/* Clase que se aplica al body y los otros elementos de la aplicación solo si la hora es menor a las 6 am y mayor que las 6 pm */
.fondo-noche{
  background: linear-gradient(90deg, rgba(31,31,59,1) 4%, rgba(21,46,106,1) 49%, rgba(31,31,59,1) 96%);
  color: white;
}

/* Clase que se aplica al div de la card de la aplicación */
.card {
  width: 75vw;
  border-radius: 10px;
  border: 0.4px solid #a9a9a9;
  box-shadow: 0 4px 8px rgba(26, 25, 25, 0.546);
  display: grid;
  grid-template-columns: 22% 78%;
}

/* Clase que se aplica al div que contiene el error en caso que el usuario no escriba bien el nombre del país o el país no se encuentre disponible en el servidor */
.error-pais{
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(236, 2, 2, 0.8);
  color: white;
  border-radius: 9px;
}

/* Media query para resolucion de tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Cuando sea una resolución movil la car tendra una sola columna y la información del clima actual se mostrara sobre la información de los proximos 5 días */
  .card {
    width: 85vw;
    grid-template-columns: 100%;
  }
}

/* Media query para resolucion de movil */
@media (max-width: 767px) {
  /* Cuando sea una resolución de tablet el body tendra un alto del 100% */
  body {
    height: 100%;
  }

  /* Clase que se aplicara al div que es el contenedor principal */
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  /* Clase que se aplicara al div que contiene el error en caso que el usuario no escriba bien el nombre del país o el país no se encuentre disponible en el servidor*/
  .error-pais{
    width: 80%;
  }

  .card {
    /* Cuando sea una resolución movil la car tendra una sola columna y la información del clima actual se mostrara sobre la información de los proximos 5 días */
    grid-template-columns: 100%;
    
  }
}
