* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.card {
  width: 70vw;
  border-radius: 10px;
  border: 0.4px solid #a9a9a9;
  box-shadow: 0 4px 8px rgba(26, 25, 25, 0.546);
  display: grid;
  grid-template-columns: 30% 70%;
}

.error-pais{
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  background-color: red;
  color: white;
  border-radius: 9px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  body {
    height: 100%;
  }
  .contenedor-principal {
    
    height: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .card {
    grid-template-columns: 100%;
    
  }
}
