.clima-5-dias {
  display: grid;
  grid-template-columns: 100%;
}

.texto-dias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto-dias > p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.dias-clima {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border-top: 1px solid black;
}

.dia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
}

.dia:last-child {
  border-right: 0;
}

.container-datos {
  display: flex;
  margin: 5px 0 5px;
}

.container-datos > img {
  width: 1rem;
}

@media (max-width: 767px) {
  .dias-clima {
    grid-template-columns: 100%;
  }

  .texto-dias > p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .dia {
    border-bottom: 1px solid black;
  }

  .dia:last-child {
    border-bottom: 0;
  }
}
